h1, h2, h3, h4, h5, h6{ margin: 0; }
input{
    text-align: center;
}
a {
    text-decoration: none;
}
body {
    display:flex;
    justify-content: center;
    margin: 0;
    color: #fff;
    background-color : #333;
    font-family: Courier New;
    height: 100vh;
    box-sizing: border-box;
}
.margin-top { margin-top: 10px }
.vertical-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontal-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app{
    min-width: 50vh;
    max-width: 400px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 8px;
    height: 100%;
    justify-content: space-between;
}
.app > div:first-child{
    width: 100%;
    padding: 0px 4px;
}
.nav{
    justify-content: space-between;
    width: 100%;
}
.nav div{
    width: 24px;
    height: 24px;
    background-size: 24px;
    cursor: pointer;
}

.nav .back{ background-image: url("images/backArrow.png"); }
.nav .settings{ background-image: url("images/settings.png"); }
.nav .user{ background-image: url("images/user.png"); }

.nav .back:hover{ background-image: url("images/backArrow-selected.png"); }
.nav .settings:hover{ background-image: url("images/settings-selected.png"); }
.nav .user:hover{ background-image: url("images/user-selected.png"); }

.menu .item:hover{
    background-color: #bbf;
}   
.menu .item{
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}
input, button{
    height: 28px;
    width: 200px;
    border-radius: 8px;
    border: none;
}
input {
    padding: 5px;
    box-sizing: border-box;
}
button{
    cursor:pointer;
    margin-top: 5px;
    background-color: #bbf;
}
button:hover{
    background-color: #ccf;
}
.try-again{
    padding: 8px;
    color: #fcc;
}
.suggestions-list-container{
    position: relative;
    width: 200px;
}
.suggestions-list{
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #ddd;
    padding: 1px 1px 0px 1px;
    max-height: 200px;
    overflow-y: auto;
}
.suggestion{
    background-color: #bbb;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #333;
    margin-bottom: 1px;
    cursor: pointer;
}
.suggestion.highlighted{
    background-color: #888;
    color: #fff;
}

/*
 * 	*** Loader ***
 */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 20px;
}
.lds-ellipsis div {
	position: absolute;
	top: 5px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

/* Login form */

.login-form > input:first-child{
    margin-bottom: 5px;
}

/* End login form */

/* selector*/

.selector .word{
    text-align: center;
    font-size: 32px;
}

.options > div{
    cursor: pointer;
    text-align: center;
    border-bottom: 1px dotted #aaa;
}

.options > div:hover{
    
}

.options > div.good{
   color: #6f6; 
}
.options > div.bad{
   color: #f66; 
}

.stats{
    text-align: center;
}
